# ==============================================================================
# KOMANDA - CONFIGURACIÓN DEL ENTORNO DE PRODUCCIÓN
# Instrucciones: Renombra este archivo a '.env' y rellena tus datos
# ==============================================================================

# Puerto de ejecución del servidor Express
PORT=3000
NODE_ENV=production

# Parámetros de conexión a la Base de Datos PostgreSQL del cliente
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=tu_contrasena_aqui
DB_NAME=komanda_db
